
<body>
    <div class="wrapper">
        <form action="" class="form">
            <h1 class="title">Sign up</h1>
            <div class="inp">
                <input type="text" name="" id="" class="input" placeholder="Username">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inp">
                <input type="text" name="" id="" class="input" placeholder="Email Address">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inp">
                <input type="password" name="" id="" class="input" placeholder="Password">
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="inp">
                <input type="password" name="" id="" class="input" placeholder=" Confirm Password">
                <i class="fa-solid fa-lock"></i>
            </div>
            <button class="submit">Submit</button>
            <p class="footer"> Already have an account? <a routerLink="/login" class="link">Login</a> </p>
 
        </form>
        <div></div>
        <div class="banner">
            <h6 class="wel_text">Welcome to the RESQ system</h6><br>
            <p class="para"></p>
        </div>
    </div>
</body>
           