<div class="evacuation-wrapper">

  <div class="evacuation-card fade-in">

    <!-- HEADER -->
    <div class="card-header">

      <div class="header-icon">
        <i class="fa-solid fa-route"></i>
      </div>

      <h1>Evacuation Planning</h1>

      <div class="divider"></div>

      <p>
        Select your current position.
        The system will calculate the safest evacuation route.
      </p>

    </div>


    <!-- FORM -->
    <div class="form-section">

      <div class="form-group">

        <!-- BUILDING -->
        <label>Building</label>

        <div class="input-wrapper">
          <i class="fa-solid fa-building"></i>
          <select
            [(ngModel)]="selectedBuilding"
            (change)="onBuildingChange()">
            <option value="">-- Select Building --</option>
            <option value="A">Building A</option>
            <option value="B">Building B</option>
            <option value="D">Building D</option>
          </select>
        </div>


        <!-- FLOOR -->
        <label *ngIf="selectedBuilding">Floor</label>

        <div class="input-wrapper" *ngIf="selectedBuilding">
          <i class="fa-solid fa-layer-group"></i>
          <select
            [(ngModel)]="selectedFloor"
            (change)="onFloorChange()">
            <option value="">-- Select Floor --</option>
            <option *ngFor="let floor of availableFloors"
                    [value]="floor">
              {{ floor }}
            </option>
          </select>
        </div>


        <!-- ROOM -->
       
        <div *ngIf="selectedFloor" class="room-select">

  <label>Room</label>

  <div class="custom-dropdown" (click)="toggleRoomDropdown()">

    <div class="dropdown-selected">
      {{ getSelectedRoomName() || '-- Select Room --' }}
    </div>

    <div class="dropdown-list" *ngIf="roomDropdownOpen">

      <div class="dropdown-item"
           *ngFor="let node of filteredNodes"
           (click)="selectRoom(node, $event)">

        {{ node.displayName }}

      </div>

    </div>

  </div>

</div>
        
      </div>


      <!-- BUTTON -->
      <button
        class="btn-submit"
        (click)="calculate()">

        Calculate Route

      </button>

    </div>


    <!-- ERROR -->
    <div *ngIf="error" class="status status-error">
      {{ error }}
    </div>

  </div>

</div>