
<body>
    <div class="wrapper">
         <form   *ngIf="formVisible" class="form" (ngSubmit)="onSignup(signupForm)" #signupForm="ngForm" novalidate  autocomplete="off">
            <h1 class="title">Sign up</h1>
           <div class="role-toggle">
                <span class="pill"
                    [class.active]="role === 'USER'"
                    (click)="setRole('USER')">
                    User
                </span>

                <span
                    class="pill"
                    [class.active]="role === 'ADMIN'"
                    (click)="setRole('ADMIN')">
                    Admin
                </span>
            </div>

            <div class="inp">
                <input type="text" class="input" placeholder="Username" name="username" [(ngModel)]="username"  autocomplete="" />
                <i class="fa-solid fa-user"></i>
            </div>

            <div class="inp">
                 <input type="email" class="input" placeholder="Email Address" name="email" [(ngModel)]="email"  autocomplete="" />
                 <i class="fa-solid fa-user"></i>
            </div>
            <div  class="inp" *ngIf="role === 'ADMIN'" >
                 <input type="password" class="input" placeholder="Admin Key" name="adminKey" [(ngModel)]="adminKey" autocomplete="" />
            </div>

            <div class="inp">
                 <input type="password" class="input" placeholder="Password" name="password" [(ngModel)]="password"  autocomplete="" />
                 <i class="fa-solid fa-lock"></i>
            </div>

            <div class="inp">
                <input type="password" class="input" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword"   autocomplete=""/>
                <i class="fa-solid fa-lock"></i>
            </div>

            <button class="submit"
                    type="submit"  
                    [disabled]="signupForm.invalid || isLoading">
                
                <span *ngIf="!isLoading">Submit</span>
                <span *ngIf="isLoading">Operazione in corso...</span>
            </button>
            
            <p class="footer"> Already have an account? <a routerLink="/signin" class="link">Signin</a> </p>
            
             <!-- errore -->
             <p *ngIf="errorMessage" class="error">{{ errorMessage }}
             </p>
        </form>
        <div></div>
        <div class="banner">
            <h6 class="wel_text">Welcome to the RESQ system</h6><br>
            <p class="para"></p>
        </div>
    </div>
</body>
           