
<body>
    <div class="wrapper">
        <form action="" class="form">
            <h1 class="title">Sign in</h1>
            <div class="inp">
                <input type="text" name="" id="" class="input" placeholder="Email">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inp">
                <input type="password" name="" id="" class="input" placeholder="Password">
                <i class="fa-solid fa-lock"></i>
            </div>
            <button class="submit">Access system</button>
            <p class="footer"> Don't have an account?  <a href="#" class="link"> Create one </a></p>   
        </form>
        <div></div>
        <div class="banner">
            <h6 class="wel_text">Welcome to the RESQ system</h6><br>
            <p class="para"></p>
        </div>
    </div>
</body>
           